/* body{
  background-color: black;
} */

.lead-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  justify-items: center;
}

.lead-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  padding: 2em;
  justify-items: center;
}

.lead-3 {
  display: flex;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* background-color: #1DA1F2; */
  padding: 2em;
  justify-items: center;
}

.lead-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  padding: 2em;
  justify-items: center;
  border: 1px solid lightblue;
  border-radius: 5px;
}
