.wallet {
  max-width: 80% !important;
}

.wallet h6 {
  font-weight: 700;
  letter-spacing: 1px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  margin-top: 30px;
}

.input input {
  color: #000;
}

.wallet hr {
  margin-top: 2em;
}

.btn {
  background-color: #e6ffff;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #00b3b3;
}

.btn:hover {
  color: white !important;
  transition: 0s;
  cursor: pointer;
}
.walletContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.walletContainer .walletFirstchild {
  margin-bottom: 5em;
}

.walletContainer .walletLastchild {
  margin-top: 10em;
}

@media screen and (max-width: 500px) {
  .walletContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .walletContainer .walletFirstchild {
    margin-bottom: unset;
  }

  .walletContainer .walletLastchild {
    margin-top: unset;
  }
}

@media screen and (max-width: 500px) {
  .wallet {
    max-width: 80% !important;
  }
}
