body {
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.dashboardHeader {
  background-color: #fff;
}

.headerLink {
  background-color: #f2f2f2;
  padding: 1em;
  margin-top: 1em;
  height: 50%;
}

.headerLink .link {
  font-weight: 700;
  position: relative;
  bottom: 0.5em;
}

.headerLink:hover {
  background-color: #17a2b8;
  transition: 0s;
}

.headerLink .link:hover {
  text-decoration: none;
  color: white !important;
  transition: 0s;
}
